version: 2
jobs:
  test:
    docker:
      - image: gableroux/unity3d:2018.2.7f1
    environment:
      IMAGE_NAME: gableroux/unity3d:2018.2.7f1
      BUILD_NAME: ExampleProjectName
    steps:
      - checkout
      - run:
          name: Run editmode tests
          environment:
            TEST_PLATFORM: editmode
          command: |
            ci/before_script.sh && ci/test.sh
      - run:
          name: Run playmode tests
          environment:
            TEST_PLATFORM: playmode
          command: |
            ci/before_script.sh && ci/test.sh
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: unity-test-results
workflows:
  version: 2
  test:
    jobs:
      - test
